<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>


    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>


    <script src="/tienda/js/publicar.js"></script>  
    <script src="/tienda/js/actualizar.js"></script>  
    <script src="/tienda/js/borrar.js"></script>
    <script src="/tienda/js/buscar.js"></script>  
    <script src="/tienda/js/ordenar.js"></script>
    <script src="/tienda/js/carrito.js"></script>  
    <script src="/tienda/js/registro.js"></script> 
    <script src="/tienda/js/chat.js"></script>  

  </body>
</html>