<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>


    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/tienda/js/publicar.js"></script>  
    <script src="/tienda/js/actualizar.js"></script>  
    <script src="/tienda/js/borrar.js"></script>
    <script src="/tienda/js/buscar.js"></script>  
    <script src="/tienda/js/ordenar.js"></script>
    <script src="/tienda/js/carrito.js"></script>  
    <script src="/tienda/js/registro.js"></script> 
    <script src="/tienda/js/chat.js"></script>
    <script src="/tienda/js/adminChat.js"></script>  


  </body>
</html>